<form id="formJogadores">
    <div class="row">
        <div class="col-sm-12">
            <input data-placeholder="Procurar profissional" id="profissional" />
            <input value="{{ equipeId }}" type="hidden" name="equipe"  id="equipe" />
        </div>
    </div>
</form>
