<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="impar">
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
                <td class="impar" rowspan="2">
                    <div style="margin-top: 40px"  class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
                <td class="impar" rowspan="4">
                    <div style="margin-top: 130px"  class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
            </tr>
            <tr>
                <td class="impar">
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
            </tr>
            <tr>
                <td  class="par">
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
                <td class="impar" rowspan="2">
                    <div style="margin-top: 40px"  class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
            </tr>
            <tr>
                <td  class="par">
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
            </tr>
            
            
            
            
            
            <tr>
                <td class="impar">
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
                <td class="par" rowspan="2">
                    <div style="margin-top: 40px"  class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
                <td class="impar" rowspan="4">
                    <div style="margin-top: 130px"  class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
            </tr>
            <tr>
                <td class="impar">
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
            </tr>
            <tr>
                <td class="par">
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
                <td class="par" rowspan="2">
                    <div style="margin-top: 40px"  class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
            </tr>
            <tr>
                <td class="par">
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
                    </div>           
                </td>
            </tr>
            
        </tbody>
    </table>
</div>