{%  spaceless %}
    <div class="col-lg-6" >
        <div class="form-group">
            <label class=" control-label"> Equipe __num__ </label>
            <div class="row">
                <input required="required" type="hidden" class=" completeEquipe col-sm-12" id="edicao_campeonato_equipes___num__" name="edicao_campeonato[equipes][__num__]" />
            </div>
        </div>                        
    </div>
{% endspaceless %}