{%  spaceless %}
    <div class="col-lg-6" >
        <div class="form-group">
            <label class=" control-label"> Equipe __num__ </label>
            <input type="text" class="form-control completeEquipe" name="edicao_campeonato[equipes][__num__]" />
            <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[equipes][__num__]" />
        </div>                        
    </div>
{% endspaceless %}