{% extends "DesportoBundle::layout.html.twig" %}
{% block title %}Desporto | Erro Ocorrido{% endblock %}
{% block head %}    
{% endblock %}

{% block mainpanel %}
<div class="jumbotron">
    <div class="row">
        <div style="text-align: center;" class="col-md-12">
            <h2>Ops, Ocorreu um erro no servidor - 500</h2>
            <p>A página que você está tentando acessar está com problema, pedimos desculpas pelo inconveniente.</p>
        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}