{% extends "DesportoBundle::layout.html.twig" %}
{% block title %}Desporto | Página não encontrada{% endblock %}
{% block head %}    
{% endblock %}

{% block mainpanel %}
<div class="jumbotron">
    <div class="row">
        <div style="text-align: center;" class="col-md-12">
            <h2>Página não Encontrada - 404</h2>
            <p>A página que você está tentando acessar não existe.</p>
        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}