<div class="panel panel-default">
    <div class="row">
        {% if fase.segundoJogo %}
            <div class="col-sm-6">
                <div class="row row text-center mb10 mt10">
                    <div class="col-sm-12">
                        <span class="h5">1º Jogo</span>
                    </div>
                </div>
                {% include 'DesportoBundle::EdicaoCampeonato/imprimir/faseJogo.html.twig' with {'jogo': fase.primeiroJogo} %}
            </div>
            <div class="col-sm-6">
                <div class="row row text-center mb10 mt10">
                    <div class="col-sm-12">
                        <span class="h5">2º Jogo</span>
                    </div>
                </div>
                {% include 'DesportoBundle::EdicaoCampeonato/imprimir/faseJogo.html.twig' with {'jogo': fase.segundojogo} %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="row row text-center mb10 mt10">
                        <div class="col-sm-12">
                            <span class="h5">Jogo ùnico</span>
                        </div>
                    </div>
                    {% include 'DesportoBundle::EdicaoCampeonato/imprimir/faseJogo.html.twig' with {'jogo': fase.primeiroJogo} %}
                </div>
            </div>
        {%  endif %}
    </div>

    <div class="row">
        {% if fase.classificado is null  %}
        <div class="col-sm-12 text-center">
            <span class="h4">Classficado não definido.</span> 
        </div>
        {% else  %}
        <div class="col-sm-12 text-center">
            <h4>Classficado {{ fase.classificado.nome }}</h4>
        </div>
        {% endif  %}
    </div>

</div>
