<div class="panel panel-default">
    <div class="row">
        {% if fase.segundoJogo %}
            <div class="col-sm-6" style="border-right: 1px solid #ccc;">
                {% include 'DesportoBundle::EdicaoCampeonato/detalhe/faseJogo.html.twig' with {'jogo': fase.primeiroJogo} %}
            </div>
            <div class="col-sm-6">
                {% include 'DesportoBundle::EdicaoCampeonato/detalhe/faseJogo.html.twig' with {'jogo': fase.segundojogo} %}
            </div>
        {% else %}
            <div class="col-sm-12">
                {% include 'DesportoBundle::EdicaoCampeonato/detalhe/faseJogo.html.twig' with {'jogo': fase.primeiroJogo} %}
            </div>
        {%  endif %}
    </div>
</div>
