<div id="" class="col-xs-4 col-sm-3 col-md-2">
    <div  class="thmb">
        <div class="thmb-prev">
          <img class="img-responsive" data-dz-thumbnail />
        </div>
        <div class="barProgress">
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
        <h5 class="fm-title"><a target="_blank" data-dz-name href=""></a></h5>
        <label class="error"><strong class="error text-danger" data-dz-errormessage></strong></label>
        <a data-dz-remove class="btn btn-default">
            <em class="fa fa-trash"></em>
        </a>
    </div>
</div>
